body {
  --color-black-off-black: #111111;
  --color-grey: #5E6B75;
  --color-grey-dark: #555555;
  --color-grey-extra-dark: #333333;
  --color-grey-light: #CCCCCC;
  --color-grey-purple: #486082;
  --color-orange: #EA731F;
  --color-white: #ffffff;
  --font-host-grotesk: "Host Grotesk", sans-serif;
}

section.login {
 max-width: 375px;
 margin: auto;
}

@media (min-width: 768px) {
  section.login {
    max-width: 375px;
  }
}

.login-logo {
  border-bottom: 4px solid var(--color-orange);
  padding: 8px 0 14px;
  text-align: center;
  
}

.login-logo a {

}

.login-logo img {
  width: 167px;
  margin: auto;
}

.login-form {
  
}

.login-form h2 {
  padding-top: 18px;
  font-family: var(--font-host-grotesk);
  font-size: 20.8px;
  font-weight: 500;
  line-height: 32.5px;
  color: var(--color-grey-extra-dark);
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 52px;
}

form input[type="text"],
form input[type="password"] {
  width: 313px;
  height: 54px;
  border: 1px solid var(--color-grey-light);
  border-radius: 0;
  padding-left: 6px;
  font-family: var(--font-host-grotesk);
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: var(--color-grey-dark);
  text-align: start;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

form .input-group {
  position: relative;
}

form .toggle-icon {
  content: url(/images/ico-eye-open.svg);
  position: absolute;
  top: 24px;
  right: 8px;
  width: 19px;
}

form .checkbox-group {
 display: flex; 
 justify-content: start;
 align-items: center;
 width: 323px;
}

.checkbox-container {
  position: relative;
  height: 24px;
  width: 24px;
  border: 1px solid var(--color-grey-light);
  border-radius: 3px;
}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  opacity: 0;
}

.checkbox-container::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 3px;
  height: 17px;
  width: 13px;
  pointer-events: none;
}

.checkbox-container:has(input[type="checkbox"]:checked):after {
  content: url(/images/check.svg);
}

form label {
  margin-left: 10px;
  font-family: var(--font-host-grotesk);
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: var(--color-black-off-black);

}

form a {
  margin-top: 32px;
  font-family: var(--font-host-grotesk);
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  color: var(--color-grey-purple);
  text-decoration: none;
  cursor: pointer;

}

form a:hover,
form a:focus,
form a:visited {
  color: var(--color-grey-purple);
  text-decoration: none;
}

form input[type="submit"] {
  height: 44px;
  margin-top: 74px;
  padding: 0 52px;
  border: 0;
  border-radius: 3px;
  font-family: var(--font-host-grotesk);
  font-size: 18px;
  line-height: 21px;
  color: var(--color-white);
  background-color: var(--color-orange);
}

section.login .indicator {
  display: flex;
  gap: 9px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 36px;
  margin-top: 23px;
  background-color: var(--color-grey);
}

section.login .indicator svg {
  
}

section.login .indicator span {
  font-family: var(--font-host-grotesk);
  font-size: 13px;
  line-height: 18px;
  font-weight: 100;
  color: var(--color-white);
}