body {
  --color-black-off-black: #111111;
  --color-grey: #5E6B75;
  --color-grey-dark: #555555;
  --color-grey-extra-dark: #333333;
  --color-grey-light: #CCCCCC;
  --color-grey-purple: #486082;
  --color-orange: #EA731F;
  --color-white: #ffffff;
  --font-host-grotesk: "Host Grotesk", sans-serif;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: url(/images/background-image.jpg);
    background-size: cover;
    overflow: hidden;
  }
}

@media (min-width: 1920px) {
  main {
    max-width: 1920px;
    min-height: 1077px;
    margin: auto;
  }
}

section.login {
 margin: auto;
}

@media (min-width: 768px) {
  section.login {
    margin: unset;
    max-width: 375px;
    background-color: var(--color-white);
  }
}

@media (min-width: 1920px) {
  section.login {
    max-width: unset;
    width: 484px;
    margin-left: 140px;
    border-radius: 6px;
  }
}

.login-logo {
  border-bottom: 4px solid var(--color-orange);
  padding: 16px 0 14px;
  text-align: center;
}

@media (min-width: 1920px) {
  .login-logo {
    padding: 16px 0 13px;
  }
}

.login-logo a {

}

.login-logo img {
  width: 167px;
  margin: auto;
}

@media (min-width: 1920px) {
  .login-logo img {
    width: 202px;
  }
}

.login-form {
  
}

.login-form h2 {
  padding-top: 18px;
  font-family: var(--font-host-grotesk);
  font-size: 20.8px;
  font-weight: 500;
  line-height: 32.5px;
  color: var(--color-grey-extra-dark);
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

@media (min-width: 1920px) {
  .login-form h2 {
    padding-top: 10px;
    font-size: 24px;
    line-height: 37.5px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 52px;
}

@media (min-width: 1920px) {
  form {
    gap: 15px;
  }
}

form input[type="text"],
form input[type="password"] {
  width: 313px;
  height: 54px;
  border: 1px solid var(--color-grey-light);
  border-radius: 0;
  padding-left: 6px;
  font-family: var(--font-host-grotesk);
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: var(--color-grey-dark);
  text-align: start;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media (min-width: 1920px) {
  form input[type="text"],
  form input[type="password"] {
    width: 400px;
    height: 68px;
    padding-left: 12px;
    font-size: 24px;
    line-height: 27px;
  }
}

form .input-group {
  position: relative;
}

form .toggle-icon {
  content: url(/images/ico-eye-open.svg);
  position: absolute;
  top: 24px;
  right: 8px;
  width: 19px;
}

@media (min-width: 1920px) {
  form .toggle-icon {
    top: 28px;
    right: 13px;
    width: 27px;
  }
}

form .checkbox-group {
  display: flex; 
  justify-content: start;
  align-items: center;
  width: 323px;
}

@media (min-width: 1920px) {
  form .checkbox-group {
    width: 418px;
  }
}

.checkbox-container {
  position: relative;
  height: 24px;
  width: 24px;
  border: 1px solid var(--color-grey-light);
  border-radius: 3px;
}

@media (min-width: 768px) {
  .checkbox-container {
    border-radius: 0;
  }
}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  opacity: 0;
}

.checkbox-container::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 3px;
  height: 17px;
  width: 13px;
  pointer-events: none;
}

.checkbox-container:has(input[type="checkbox"]:checked):after {
  content: url(/images/check.svg);
}

form label {
  margin-left: 10px;
  font-family: var(--font-host-grotesk);
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: var(--color-black-off-black);
}

@media (min-width: 1920px) {
  form label {
    font-size: 18px;
    line-height: 20px;
  }
}

form a {
  margin-top: 32px;
  font-family: var(--font-host-grotesk);
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  color: var(--color-grey-purple);
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1920px) {
  form a {
    font-size: 21px;
    line-height: 24px;
  }
}

form a:hover,
form a:focus,
form a:visited {
  color: var(--color-grey-purple);
  text-decoration: none;
}

form input[type="submit"] {
  height: 44px;
  margin-top: 74px;
  padding: 0 52px;
  border: 0;
  border-radius: 3px;
  font-family: var(--font-host-grotesk);
  font-size: 18px;
  line-height: 21px;
  color: var(--color-white);
  background-color: var(--color-orange);
}

@media (min-width: 1920px) {
  form input[type="submit"] {
    height: 60px;
    padding: 0 68px;
    font-size: 24px;
    line-height: 30px;
  }
}

section.login .indicator {
  display: flex;
  gap: 9px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 36px;
  margin-top: 23px;
  background-color: var(--color-grey);
}

@media (min-width: 1920px) {
  section.login .indicator {
    gap: 9px;
    height: 47px;
    margin-top: 41px;
  }
}

section.login .indicator svg {
  width: 14px;
}

@media (min-width: 1920px) {
  section.login .indicator svg {
    width: 20px;
  }
}

section.login .indicator span {
  font-family: var(--font-host-grotesk);
  font-size: 13px;
  line-height: 18px;
  font-weight: 100;
  color: var(--color-white);
}

@media (min-width: 1920px) {
  section.login .indicator span {
    font-size: 20px;
    line-height: 27px;
  }
}

section.headline {
  display: none;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  section.headline {
    display: block;
  }
}

@media (min-width: 1920px) {
  section.headline {
    width: 414px;
    margin-left: 70px;
    padding-bottom: 60px;
  }
}

section.headline h1 {
  font-family: var(--font-host-grotesk);
  font-weight: 600;
  color: var(--color-white);
}

@media (min-width: 1920px) {
  section.headline h1 {
    margin-bottom: 0;
    font-size: 58px;
    line-height: 58px;
  }
}

section.headline p {
  font-family: var(--font-host-grotesk);
  color: var(--color-white);
  font-weight: 100;
}

@media (min-width: 1920px) {
  section.headline p {
    margin-top: 16px;
    font-size: 20px;
    line-height: 25px;
    width: 415px;
  }
}

section.pill-and-screens {
  display: none;
  position: relative;
}

@media (min-width: 768px) {
  section.pill-and-screens {
    display: block;
    position: relative;
  }
}

@media (min-width: 1920px) {
  section.pill-and-screens {    
    margin-left: 70px;
  }
}

@media (min-width: 1920px) {
  section.pill-and-screens {    
    width: 776px;
    min-height: 1077px;
  }
}

section.pill-and-screens .pill {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 552px;
  height: 552px;
  background-color: var(--color-white);
  border-radius: 276px;
}

@media (min-width: 1920px) {
  section.pill-and-screens .pill {
    top: -164px;
    left: 92px;
    width: 552px;
    height: 552px;
    border-radius: 276px;
  }
}

section.pill-and-screens .pill h2 {
  margin: 83px 0 0;
  font-family: var(--font-host-grotesk);
  font-weight: 100;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

section.pill-and-screens .pill img {

}

@media (min-width: 1920px) {
  section.pill-and-screens .pill img {
    margin-top: 12px;
    width: 416px;
  }
}

section.pill-and-screens .screens-lockup {
  position: absolute;
}

section.pill-and-screens .screens-lockup {
  top: 320px;
}

section.pill-and-screens .screens-lockup img {

}

@media (min-width: 1920px) {
  section.pill-and-screens .screens-lockup img {
    width: 925px;
  }
}

button.help-button {
  position: absolute;
  bottom: 25px;
  right: 25px; 
  width: 72px;
  height: 72px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button.help-button img {
  width: 72px;
  height: 72px;
}